.footer {
  background-color: $gray;
  color: $white;
  padding: 30px 0 30px 0;

  .wrap {
    justify-content: center;
    width: map-get($grid-container, 'xl');
    padding: 0 15px;
    margin: 0 auto;
  }



  li a svg {
    width: 25px;
    height: 25px;

    path {
      fill: $white;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    a {
      color: $white;
      font-size: 20px;
    }

    .item.customSVG {
      a {
        display: flex;
        align-items: center;

        svg {
          margin-right: 10px;
          margin-left: 5px;
        }
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    li:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__copyright {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    padding-left: 22.5px;

    &:before {
      content: "";
      position: absolute;
      display: block;
      background-size: cover;
      width: 15px;
      height: 15px;
      left: 0;
      background-image: url("../images/pacman.svg");
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    .wrap {
      width: map-get($grid-container, 'lg');
    }

    &__top {
      flex-wrap: wrap;
      justify-content: center;

      .item:first-child,
      .item:nth-child(2) {
        margin: 0 30px 30px 0;
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    .wrap {
      width: map-get($grid-container, 'md');
    }

    &__top {
      flex-direction: column;

      a {
        font-size: 16px;
        line-height: 18px;
      }

      .item:first-child,
      .item:nth-child(2) {
        margin: 0;
      }

      .item:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__social {
      justify-content: flex-start;
    }

    &__bottom {
      flex-direction: column;
      align-items: flex-start;

      & > img {
        order: -1;
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    .wrap {
      width: map-get($grid-container, 'sm');
    }

    &__social {
      justify-content: space-between;
      max-width: 330px;

      li {
        &:not(:last-child) {
          margin-right: 0;
        }

        a svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
