.footer {
  background-color: $gray;
  color: $white;
  padding: 50px 0 30px 0;

  .wrap {
    justify-content: center;
    width: 700px;
    margin: 0 auto;
  }

  a {
    color: $white;
    font-size: 20px;
  }

  li a svg {
    width: 25px;
    height: 25px;

    path {
      fill: #F4F4F4;
    }
  }

  &__top {
    margin-bottom: 20px;
    align-items: flex-start;

    ul {
      li:nth-child(3) {
        a {
          display: flex;
          align-items: center;

          svg {
            margin-right: 10px;
            margin-left: 5px;
          }
        }

      }

      li:not(:last-child) {
        margin-bottom: 29px;
      }
    }

  }

  &__bottom {
    align-items: center;
  }

  &__copyright {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    padding-left: 22.5px;

    &:before {
      content: "";
      position: absolute;
      display: block;
      background-size: cover;
      width: 15px;
      height: 15px;
      left: 0;
      background-image: url("../images/pacman.svg");
    }
  }

  &__content {
    & > div {
      display: flex;
      justify-content: space-between;
    }
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 340px;
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    .wrap {
      width: 270px;
    }

    &__top {
      & > img {
        margin-bottom: 20px;
        align-self: flex-start;
      }

      ul {
        li:nth-child(3) {
          a {
            svg {
              margin-right: 5px;
              margin-left: 0;
            }
          }

        }

        li:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    a {
      font-size: 16px;
    }

    &__content {
      & > div {
        flex-direction: column;
      }

      .social {
        order: -1;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
