.section.home {
  justify-content: flex-start;
  height: calc(100vh - 80px);
  margin-bottom: 50px;

  .background {
    background-image: url("../images/back1.svg");
  }

  .section__content {
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;

    img {
      object-fit: contain;
      max-width: 100%;
    }

    .left {
      height: 100%;
      padding-left: 15px;
    }
    .right {
      height: 100%;
      padding-right: 15px;
    }

    h1 {
      display: none;
    }
  }
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    .right {
      display: none;
    }
  }
  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    justify-content: center;
    padding: 0;

    .left {
      width: 100%;
      height: 100%;
      padding: 0 40px 0 15px;
    }

    .section__content {
      height: auto;
    }
  }
}
