.section.how {
  .section__content {
    justify-content: flex-end;

    .blocks {
      flex-direction: column;
      justify-content: space-between;
      max-width: 740px;

      .block {
        flex-direction: column;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        h3 {
          margin-bottom: 20px;
        }

        ul, ol {
          padding-left: 30px;

          li {
            position: relative;
          }
        }

        ul li:not(:last-child) {
          margin-bottom: 10px;
        }
        ol li:not(:last-child) {
          margin-bottom: 5px;
        }

        ul li:before,
        ol li:before {
          content: "";
          position: absolute;
          display: block;
          background-size: cover;
          width: 20px;
          height: 20px;
          left: -40px;
          transform: translate(50%, 50%);
          top: -2px;
        }

        ul li:before {
          background-image: url("../images/list.svg");
        }
        ol {
          li:nth-child(1):before {
            background-image: url("../images/1.svg");
          }
          li:nth-child(2):before {
            background-image: url("../images/2.svg");
          }
          li:nth-child(3):before {
            background-image: url("../images/3.svg");
          }
        }
      }
    }
  }

  .cloud {
    position: absolute;
    top: 185px;
    left: 30px;
  }

  @media (max-width: map-get($grid-breakpoints, 'xl')) {
    .section__content .blocks {
      max-width: 550px;
    }

    .cloud {
      width: 275px;
    }

    .section__content .blocks .block {
      ul li:before,
      ol li:before {
        top: -5px;
      }
    }
  }
  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    .section__content .blocks {
      max-width: 450px;
    }

    .cloud {
      width: 250px;
      left: 20px;
    }

    .section__content .blocks .block {
      ul li:before,
      ol li:before {
        top: -6px;
      }
    }
  }
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    align-items: center;

    .section__content .blocks {
      max-width: 628px;
    }

    h2 {
      order: -1;
    }

    .cloud {
      position: unset;
      order: -1;
      margin-bottom: 24px;
      max-width: 300px;
      width: 100%;
    }

    .section__content .blocks .block {
      ul li:before,
      ol li:before {
        top: -8px;
      }
    }
  }
}
