$white: #F4F4F4;
$grayLight: #DEDEE7;
$gray: #535764;
$black: #2C2C2C;
$blue: #3360FF;
$shadow: rgba(95, 122, 190, 0.25);

$font-open-sans: 'Open Sans', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;


$grid-breakpoints: (
  xs: 0,
  sm: 575.98px,
  md: 767.98px,
  lg: 991.98px,
  xl: 1400.98px
);

$grid-container: (
  sm: 100%,
  md: 570px,
  lg: 750px,
  xl: 900px,
  exl: 1170px
);
